<h1>Habitación {{room.tipoHabitacion}}</h1>

<div fxLayout="row" fxLayoutWrap fxFill fxLayoutAlign="start start" fxLayoutGap="10px">
  <div class="info-card-container">
    <img src="{{room.imagen}}" alt="Photo room">
  </div>

  <div fxFlex>
    <div fxLayout="row" fxLayoutWrap fxFill fxLayoutAlign="start start" fxLayoutGap="10px">
      <div fxFlex>
        Fecha entrada
        <angular2-date-picker [(ngModel)]="dateEntrada" [settings]="settings"></angular2-date-picker>
      </div>

      <div fxFlex>
        <mat-form-field>
          <mat-select placeholder="Horas" [(ngModel)]="totalHoras" [(value)]="totalHoras">
            <mat-option *ngFor="let hour of hours" [value]="hour.value">
              {{ hour.value }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

    </div>
    <br>
    <div fxFlex>
      <button mat-raised-button color="primary" (click)="confirmarReserva()">Confirmar reserva
        <mat-icon>payment</mat-icon>
      </button>
    </div>

    <mat-card>
      <mat-card-title>
        {{title}}
      </mat-card-title>
      <mat-card-content>
        <mat-table class="mat-elevation-z8" #table [dataSource]="reservas" matSort>
          <!-- Dynamic column -->
          <ng-container *ngFor="let def of columns" [matColumnDef]="def">
            <mat-header-cell *matHeaderCellDef>{{ def }}</mat-header-cell>
            <mat-cell *matCellDef='let row'>{{ formatDate( row[def] ) }}</mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
          <mat-row *matRowDef="let item; columns: columns;"></mat-row>
        </mat-table>
      </mat-card-content>
    </mat-card>

  </div>
</div>